<div class="container">
  <div class="jumbotron color">
    <h1 class="display-4">Route Two!</h1>
    <p class="lead">Simple content for Route Two...</p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a
      class="btn btn-primary btn-lg"
      [routerLink]="['/routeOne']"
      routerLinkActive="router-link-active"
      role="button"
      >Switch to Route One</a
    >
  </div>
</div>
